body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  /*background-image: url('/assets/bg.png');*/
  font-family: 'Helvetica Neue', 'Times New Roman' !important;
}

canvas {
  position: absolute;
  left: 1000px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  display: none;
}

#picSlider {
  border: 1px solid black;
  height: 155px;
  overflow-x: scroll;
}

#preview {
  overflow-x: auto;
  height: 600px;
}

form {
  float: left;
  width: 50%;
}

.imgPreview {
  height: 145px;
}

#inputOtherUpper {
  margin-bottom: 10px;
}

#inputTCUpper {
  margin-bottom: 10px;
}

/*
.textInput {
  position: absolute;
  top: 443px;
}

#dLeft {
  left: 34px;
}

#dCenter {
  left: 354px;
}

#dRight {
  left: 674px;
}

#dShowName {
  position: absolute;
  top: 490px;
  left: 34px;
  font-size: x-large;
  line-height: 30px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}*/



